@font-face {
  font-family: "booking";
  src: url(../BaiTapTaiXiuRedux/Pony.ttf);
}

.booking {
  font-family: booking;
}

.screen {
  border-bottom: 20px solid rgb(255, 159, 95);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 100%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 15px;
}
.ghe {
  border: 3px solid orange;
  width: 50px;
  height: 25px;
  font-size: 15px;

  margin-bottom: 2%;
  border-radius: 5px;
}
.gheDangChon {
  border: 3px solid orange;
  background: orange;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  height: 25px;
}
.gheDuocChon {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;
  cursor: none !important;
  border-radius: 5px;
  width: 50px;
  height: 25px;
}
